.center {
    text-align: center;
}

.nadpis {
    position: static;
    top: 40px;
}

body {
    background-color: black !important;
}

p {
    font-size: larger;
}

.songs-list {
    font-size: larger;
    padding-bottom: 16px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#songText{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}